.cont {
    padding: 20px 100px 100px 100px;
    margin-top: 50px;
}

.contVideo {
    display: flex;
    background-image: linear-gradient(rgba(71, 71, 71, 0.671), rgba(52, 106, 150, 0.671)), url("/images/homeFamilia.jpg");
    padding: 120px 140px 120px 140px;
    margin-top: 50px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    gap: 50px;
    align-items: center;
    color: white;
}

.video {
    width: 600px;
    height: 300px;
    border: none;
}

.contFamilia {
    width: 50%;
}

.titleFamilia {
    font-family: 'Oswald';
    font-size: 70px;
    color: white;
    border-left: solid 4px #3a3b74;
    padding-left: 10px;
}

.titleFam {
    font-family: 'Oswald';
    font-size: 70px;
    border-left: solid 4px #3a3b74;
    text-align: center;
    padding: 40px 30px 0 0;
}

.titleFamily {
    font-family: 'Oswald';
    font-size: 70px;
    text-align: center;
}

.cont1 {
    padding: 100px 270px 100px 270px;
    margin-top: 50px;
    background: linear-gradient(to bottom, #2A5797, #2A79BD);
    color: white;
}

.contContenido {
    display: flex;
    margin-top: 40px;
    align-items: center;
    justify-content: space-between;
}

.contImg {
    width: 50%;
    margin-left: 30px;
}

.sub {
    font-family: 'Oswald';
    font-size: 35px;
    font-weight: 600;
}



/* CARTA */
.contCard {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 80px 100px 50px 100px;
}

.carta {
    position: relative;
    width: 30%;
    margin: 15px;
    height: 380px;
    perspective: 1000px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    color: white;
    text-align: center;
}

.front,
.back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
}

.front {
    display: flex;
    flex-direction: column;
    background-color: #3498db;
    transform: rotateY(0deg);
    transition: transform 0.5s;
}

.icon {
    height: 40px;
    width: 40px;
    margin-bottom: 20px;
}

.back {
    background-color: #2ecc71;
    transform: rotateY(180deg);
    transition: transform 0.5s;
}

.carta:hover .front {
    transform: rotateY(-180deg);
}

.carta:hover .back {
    transform: rotateY(0deg);
}     