.title {
    font-size: 50px;
    color: white;
}

.contHero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    background-image: url('/images/contact.jpg');
    background-size: cover;
}

.cont {
    padding: 20px 100px 100px 100px;
    margin-top: 50px;
}

.contContact {
    display: flex;
    align-items: center;
    justify-content: center;

}
.image {
    max-width: 700px;
    max-height: 400px;
    border-radius:0 150px 0 150px;

  }
  
  .contInfo {
    padding-left: 20px;
  }

  .contData {
    border: 1px solid black;
    padding: 20px 80px 20px 20px;
    margin-right: -50px;
    border-radius: 0 50px 0 0;
  }