.contHero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    background-image: url('/images/contact.jpg');
    background-size: cover;
    color: white;
}

.title {
    text-align: center;
    font-size: 60px;
    margin-top: 60px;
}

.cont {
        padding: 50px 100px 100px 100px;
        margin-top: 50px;
}

.contNumber {
    font-family: 'Oswald';
    font-size: 50px;
}

.contGrid {
    display: grid;
    padding: 50px 100px 100px 100px;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
  }
  
  .sub {
    font-family: 'Oswald';
    font-weight: 600 !important;
    font-size: 20px;
  }

  .contBox {
    padding: 30px;
    border-left: 4px solid #2B5797;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.048);
    margin-bottom: 30px;
  }

  .contBox:hover {
    border-left: 4px solid #2A79BD;
  }

  .contFrase {
    background-image: linear-gradient(rgba(52, 106, 150, 0.671), rgba(52, 106, 150, 0.671)), url("/images/nosotrosFrase.jpg");
    padding: 170px 150px 170px 150px;
    margin-top: 50px;
    color: white;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
  }

  .frase {
    font-family: 'Oswald';
    font-size: 70px;
    font-weight: 400;
    text-align: center;
  }

  .contColumna {
    display: flex;
    gap: 30px;
    padding: 50px 100px 0 100px;
  }

  .contImage {
    display: flex;
    flex-direction: column;
  }

  .contTexts {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .image {
    max-width: 500px;
    max-height: 400px;
    border-radius: 0 40px 0 40px;
    margin-bottom: 30px;
  }

  .list {
    padding-left: 20px;
  }

  .contMision {
    font-size: 30px;
    font-family: 'Oswald';
    border-left: solid 3px #2B5797;
    margin-top: 30px;
    padding-left: 10px;
  }

  .par {
    margin-bottom: -50px;
  }