.container {
  display: flex;
  background: radial-gradient(circle, #3178bd 0%, #3a3b74 52%, #2b2b64 100%);
  color: white;
  padding: 10px;
}

.contLeft {
display: flex;
flex: 1;
flex-direction: column;
padding: 30px 0 0 30px
}

.contRight {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 30px 0 0 30px;
}

.sub {
  font-size: 25px;
  font-weight: 100;
}

.text {
font-size: 20px;
margin-top: 25px;
}

.icons {
  display: flex;
}

.social {
  width: 35px;
  height: 35px;
  margin: 10px 10px 10px 0
}

.news {
  margin-bottom: 20px;
  font-weight: 400 !important;
  font-size: 16px !important;
}

.input {
width: 40%;
height: 30px;
border-radius: 15px;
border: none;
margin-right: 10px;

}

.button {
  border-radius: 25px;
  padding: 10px;
  color:white;
  font-family: 'Playfair';
  font-size: 15px;
  font-weight: 400;
  background-color: #3178bd;
  transition: 0.3s;
  border: none;
  cursor: pointer;
}

.button:hover {
  transform:translateY(3px);
}

.link {
text-align: end;
text-decoration: underline;
margin-top: 30px;
}