/* Toggle */
.container {
  display: flex;
  margin-top: 50px;
}

.cont,
.cont1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.cont {
  margin-right: 30px;
}

.contPregunta {
  border-bottom: 3px solid #2B5797;
  box-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.048);
  margin-bottom: 40px;
}

.toggleContainer {
  display: flex;
}

.toggleTitle {
  font-family: 'Oswald';
  display: flex;
  font-size: 18px;
  padding: 20px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
  transition: 0.3s;
}

.icon {
  width: 20px;
  height: 20px;
  margin-left: auto;
  transition: 0.3s;
}

.icon.active {
  transform: rotate(90deg);
}

.toggleTitle.active {
  color: #007bff;
}

.toggleContent {
  display: none;
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.toggleButton {
  background-color: #007bff;
  color: #fff;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.parrafo {
  padding: 0 40px 20px 40px
}



/* Carrusel */
.carousel,
.carouselClients {
  max-width: 1100px;
  margin: auto;
  cursor: pointer;
}

.carousel {
  padding: 50px 0 180px 0;
}

.carouselImageClients {
  padding-top: 50px;
}

.carouselImage {
  width: 250px;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 30px;
}

.carouselImageClients {
  width: 220px;
  height: auto;
  box-sizing: border-box;
  margin-bottom: 30px;
}



/* Hero */
.contHero {
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

.imageContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}

.imageContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.856), rgba(0, 0, 0, 0.144));
}

.containerHero {
  display: flex;
  flex-direction: column;
  padding: 80px 0 0 50px;
  position: relative;
  z-index: 1;
}

.heroImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.title {
  color: white;
  font-size: 130px;
  font-family: 'Oswald';
  line-height: 110px;
  position: relative;
  z-index: 1;
}

.contButtons {
  position: relative;
  z-index: 1;
  margin-top: 50px;
}

.button,
.button1 {
  border-radius: 15px;
  color: white;
  border: none;
  padding: 15px;
  margin-right: 15px;
  transition: 0.3s;
  cursor: pointer;
}

.button {
  background-color: #2B5797;
}

.button1 {
  border: 2px solid #2B5797;
  background-color: transparent;

}

.button:hover {
  transform: translateY(3px);
  background-color: #4C7BBE;
}

.button1:hover {
  transform: translateY(3px);
  background-color: transparent;
  border: 2px solid #4C7BBE;
}

@-webkit-keyframes bounceInLeft {

  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounceInLeft {

  from,
  60%,
  75%,
  90%,
  to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(-3000px, 0, 0);
    transform: translate3d(-3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(5px, 0, 0);
    transform: translate3d(5px, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

/*HeaderUp*/
.headerUp {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  position: fixed;
  bottom: 0;
  margin-right: 20px;
  margin-bottom: 20px;
  right: 0;
}